<div class="task-container">
  <h1 class="text-center">My Tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item"><%= link_to task.title, task_path(task) %></li>
    <% end %>
    <%= link_to new_task_path do%>
      <li id="add-task" class="list-group-item"><i class="fa-solid fa-list-check"></i><p>Add task</p></li>
    <% end %>
  </ul>
</div>
